apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: sensor-ingestion
  labels:
    app: prometheus
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
    - name: http
      port: 9090
      targetPort: 9090
      nodePort: 30900
      protocol: TCP