apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-service
  namespace: sensor-ingestion
  labels:
    app: rabbitmq
spec:
  type: NodePort
  selector:
    app: rabbitmq
  ports:
    - name: amqp
      port: 5672
      targetPort: 5672
      nodePort: 30672
      protocol: TCP
    - name: management
      port: 15672
      targetPort: 15672
      nodePort: 31567
      protocol: TCP