apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: sensor-ingestion
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        uid: prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-service:9090
        isDefault: true
        editable: true
      
      - name: Tempo
        uid: tempo
        type: tempo
        access: proxy
        url: http://tempo-service:3200
        editable: true
        jsonData:
          tracesToLogs:
            datasourceUid: loki
          tracesToMetrics:
            datasourceUid: prometheus
      
      - name: Loki
        uid: loki
        type: loki
        access: proxy
        url: http://loki-service:3100
        editable: true